# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Project/C_Project/x64/Debug/C_Project.tlog/link.write.1.tlog
/Project/C_Project/x64/Debug/C_Project.tlog/link.read.1.tlog
/Project/C_Project/x64/Debug/C_Project.tlog/link.command.1.tlog
/Project/C_Project/x64/Debug/C_Project.tlog/C_Project.lastbuildstate
/Project/C_Project/x64/Debug/C_Project.tlog/CL.write.1.tlog
/Project/C_Project/x64/Debug/C_Project.tlog/CL.read.1.tlog
/Project/C_Project/x64/Debug/C_Project.tlog/CL.command.1.tlog
/Project/C_Project/x64/Debug/C_Project.tlog
/Project/C_Project/x64/Debug/C_Project.log
/Project/C_Project/x64/Debug/C_Project.Build.CppClean.log
/Project/C_Project/x64/Debug
/Project/C_Project/.vs/C_Project/v15/Browse.VC.opendb
/Project/C_Project/.vs/C_Project/v15/Browse.VC.db
/Project/C_Project/.vs/C_Project/v15/.suo
/Project/C_Project/.vs/c/v15/ipch/AutoPCH/b72fd9c134f52f6f
/Project/C_Project/.vs/c/v15
/Project/C_Project/Debug/C_Project.tlog
/Project/C_Project/Debug/Training.tlog
/Project/C_Project/Debug
/Project/C_Project/Release
/Project/C_Project/x64/Release
/Project/C_Project/.vs/c_programming/v15
/Project/DataStructures/Debug/DataStructures.tlog/link.write.1.tlog
/Project/DataStructures/Debug/DataStructures.tlog/link.read.1.tlog
/Project/DataStructures/Debug/DataStructures.tlog/link.command.1.tlog
/Project/DataStructures/Debug/DataStructures.tlog/DataStructures.lastbuildstate
/Project/DataStructures/Debug/DataStructures.tlog/CL.write.1.tlog
/Project/DataStructures/Debug/DataStructures.tlog/CL.read.1.tlog
/Project/DataStructures/Debug/DataStructures.tlog/CL.command.1.tlog
/Project/DataStructures/Debug/DataStructures.log
/Project/DataStructures/Debug/DataStructures.Build.CppClean.log
/Project/.vs/c_programming/v15/ipch/AutoPCH/99527cd1b1619e61/MAIN.ipch
/Project/.vs/c_programming/v15/Browse.VC.opendb
/Project/.vs/c_programming/v15/Browse.VC.db
/Project/.vs/c_programming/v15/.suo
/Project/Training/Debug/Training.tlog/Training.lastbuildstate
/Project/Training/Debug/Training.tlog/link.write.1.tlog
/Project/Training/Debug/Training.tlog/link.read.1.tlog
/Project/Training/Debug/Training.tlog/link.command.1.tlog
/Project/Training/Debug/Training.tlog/CL.write.1.tlog
/Project/Training/Debug/Training.tlog/CL.read.1.tlog
/Project/Training/Debug/Training.tlog/CL.command.1.tlog
/Project/Training/Debug/training.log
/Project/Training/Debug/Training.Build.CppClean.log
